.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--content-bg);
  border-radius: 7px;
  margin-top: 40px;
  height: 48px;
  padding: 0 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.headerRight i {
  margin-left: 13px;
}

.headerCenter h2 {
  font-family: "Lalezar";
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 500;
}

.headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerLeft div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 2px;
}
.headerLeft .greenCircle {
  background-color: var(--green);
}

.headerLeft .redCircle {
  background-color: var(--red);
}
.headerLeft .yellowCircle {
  background-color: var(--yellow);
}

.allUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
