@font-face {
  font-family: "IRANSans";
  src: url("font/IRANSansWeb.eot"); /* IE9 Compat Modes */
  src: url("font/IRANSansWeb.ttf") format("truetype"), /* Safari, Android, iOS */ url("font/IRANSansWeb.woff2") format("woff2"), /* Super Modern Browsers */ url("font/IRANSansWeb.woff") format("woff"), /* Pretty Modern Browsers */ url("font/IRANSansWeb.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Lalezar";
  src: url("font/Lalezar.eot"); /* IE9 Compat Modes */
  src: url("font/Lalezar.ttf") format("truetype"), url("font/Lalezar.woff") format("woff"), url("font/Lalezar.ttf") format("truetype");
}
* {
  font-family: "IRANSans";
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  transition: color 430ms ease-in-out, background 430ms ease-in-out;
  -webkit-transition: color 430ms ease-in-out, background 430ms ease-in-out;
  -moz-transition: color 430ms ease-in-out, background 430ms ease-in-out;
  -ms-transition: color 430ms ease-in-out, background 430ms ease-in-out;
  -o-transition: color 430ms ease-in-out, background 430ms ease-in-out;
}
a {
  text-decoration: none;
}
/* Body */
body {
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  background: var(--bg-main);
}
/* Boy dark effect */
body:before {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
body.dark::before {
  content: "";
  width: 100%;
  height: 100%;
}
body::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: var(--bg-main);
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: -1;
  border-radius: 200px;
}

.cursorPointer:hover {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 1px 1px 4px rgb(0 0 0 / 20%) !important;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%) !important;
}
.star {
  position: fixed;
  bottom: 16px;
  right: 50px;
  background: var(--content-bg);
  padding: 10px;
  border-radius: 12px;
  color: var(--text-color);
  box-shadow: 1px 1px 4px rgb(0 0 0 / 63%) !important;
}

i {
  font-size: 1.2rem;
  color: var(--icons);
}
:root {
  --red: #ef4f47;
  --green: #32bc3b;
  --yellow: #ffb300;
}
.light {
  --bg-main: #f0f0f0;
  --content-bg: #fff;
  --hover-color: #eb466ffa;
  --icons: #363636;
  --text-color: #363636;
  --text-color-seccond: #6e6e6e;
  --context-menu-hover: rgba(245, 0, 86, 0.062);
  --icon-color: #cccccc;
}
.dark {
  --bg-main: #24292e;
  --content-bg: #2f363d;
  --icons: #979b9e;
  --text-color: #ffff;
  --hover-color: #e7ab05;
  --text-color-seccond: #c2bbbb;
  --context-menu-hover: rgba(255, 255, 255, 0.1);
  --icon-color: #60676e;
}

.select-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 13px 0px;
}
.select-options {
  width: 32%;
  -webkit-box-shadow: 1px 1px 4px rgb(0 0 0 / 20%) !important;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%) !important;
  border-radius: 4px;
}

.select-options > div {
  background: var(--content-bg) !important;
  color: var(--text-color) !important;
  border-color: var(--content-bg) !important;
  transition: background 450ms ease-in-out, border 450ms ease-in-out;
  -webkit-transition: background 450ms ease-in-out, border 450ms ease-in-out;
  -moz-transition: background 450ms ease-in-out, border 450ms ease-in-out;
  -ms-transition: background 450ms ease-in-out, border 450ms ease-in-out;
  -o-transition: background 450ms ease-in-out, border 450ms ease-in-out;
}

.select-options > div > div span {
  background: var(--icon-color);
}
.select-options svg {
  color: var(--icon-color);
}

.input {
  background: var(--content-bg);
  outline: 0;
  border: 0;
  width: 100%;
  padding: 10px;
  margin: 0px 0;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.input::-webkit-input-placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}

.input::-moz-placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}

.input:-ms-input-placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}

.input::-ms-input-placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}

.input::placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .modal {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 990px;
  }
}

/* Media queries */
@media only screen and (max-width: 767.98px) {
  header,
  .loading-data {
    width: 80%;
  }
  main {
    width: 80% !important;
  }
}
@media only screen and (min-width: 576px) {
  main {
    width: 500px;
  }
  .modal {
    max-width: 500px;
  }
}

@media only screen and (max-width: 514.98px) {
  html {
    font-size: 0.6rem;
  }
  .balloon {
    width: 40px !important;
    height: 46px !important;
    margin: 5px 10px !important;
  }
  .balloon::after {
    top: 51px !important;
  }
}
